<!DOCTYPE html>

<html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="~/CSS/Home2.css" rel="stylesheet" />

<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    @*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>*@
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3" />
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">

    <style>
        body {
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
             /*------ Layeout---------------------------------*/
           
        var CheckInOuStatus = '@ViewBag.CheckInOuStatus';
        var InOut = CheckInOuStatus.split("_");
        var In =InOut[0];
        var Out =InOut[1];
        if (In =="CheckIn") {
            $('.GreenOnline').show();
            $('.GreenOffline').hide();
            $('.GreenOfflineCircle').hide();
            
         
            
            $("#FunctionCheckInStatus").hide();
        }
        if (Out =="CheckOut") {
            $('.GreenOnline').show();
           $('.GreenOffline').hide();
           $('.GreenOfflineCircle').hide();
            
        }
        if (In == "NotCheckIn" && Out == "NotCheckOut") {

            $('.GreenOnline').hide();
            $('.GreenOffline').show();
            $('.GreenOfflineCircle').show();
           
            
        }

        var EmpCheckInTime = '@ViewBag.EmpCheckInTime';
        var EmpAttendanceList = '@ViewBag.EmpAttendanceList';

       /*---------------------------------------------*/
        });

        jQuery(function ($) {

            $(".sidebar-dropdown > a").click(function () {

                $(".sidebar-submenu").slideUp(200);
                if ($(this).parent().hasClass("active"))
                {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                   // localStorage.removeItem("sidebar-dropdown_active");
                  //  localStorage.removeItem("sidebar-submenu_display");
                } else
                {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this).next(".sidebar-submenu")
                    .slideDown(200);
                    $(this).parent().addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });


            //////////
            $(".sidebar-dropdown").click(function () {
                $(this).parent().addClass("active");
                //$(".sidebar-dropdown").removeClass("active");
                localStorage.setItem("active", "active");
                $(this).css("display", "block");
                localStorage.setItem("display", "block");
            });

            $(document).ready(function () {
                var EmployeeName = '@Session["EmployeeName"]';
                var ProfilePictureName = '@Session["ProfilePictureName"]';
                $("#Img_EmployeePro").attr("src", "/UploadsImages/" + ProfilePictureName + "");

                //$(".sidebar-dropdown").click(function () {
                //
                //    $(this).parent().addClass("active");
                //    //$(".sidebar-dropdown").removeClass("active");
                //    localStorage.setItem("sidebar-dropdown_active", "active");
                //    $(this).css("display", "block");
                //    localStorage.setItem("sidebar-submenu_display", "block");
                //});
                //localStorage.getItem("sidebar-dropdown_active");
                //localStorage.getItem("sidebar-submenu_display");
                $(".sidebar-dropdown").addClass(localStorage.getItem("sidebar-dropdown_active"));
                $(".sidebar-submenu").css("display", localStorage.getItem("sidebar-submenu_display"));

            });
            $('#FunctionCheckInStatus').click(function () {

                var EmployeePKID = '@Session["EmployeePKID"]';
                CheckInOutStatus = "CheckIn";
                $.ajax(
                    {
                        type: 'POST',
                        dataType: "html",
                        data: { EmployeePKID: EmployeePKID, CheckInOutStatus: CheckInOutStatus},
                        url: '/Home/CheckIn',
                        success: function (data) {
                            $('#GreenOnline').show();
                            $('#GreenOffline').hide();
                            $("#FunctionCheckInStatus").hide();
                        },
                    });
            });

                $('#FunctionCheckOutStatus').click(function () {

                var EmployeePKID = '@Session["EmployeePKID"]';
                CheckInOutStatus = "CheckOut";
                $.ajax(
                    {
                        type: 'POST',
                        dataType: "html",
                        data: { EmployeePKID: EmployeePKID, CheckInOutStatus: CheckInOutStatus},
                        url: '/Home/CheckIn',
                        success: function (data) {
                            $('#GreenOnline').show();
                            $('#GreenOffline').hide();
                            $("#FunctionCheckInStatus").hide();
                        },
                    });
            });

            $(".DashboardMainSideBar").click(function () {
                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");

                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");

                $(this).parent().addClass("active");
                localStorage.setItem("Dashboardactive", "active");
                $(this).css("display", "block");
                localStorage.setItem("Dashboarddisplay", "block");
            });

            $(".EmployeesMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");

                $(this).parent().addClass("active");
                //$(".sidebar-dropdown").removeClass("active");
                localStorage.setItem("Employeesactive", "active");
                $(this).css("display", "block");
                localStorage.setItem("Employeesdisplay", "block");
            });
            $(".AccountMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");


                $(this).parent().addClass("active");
                localStorage.setItem("Accountactive", "active");
                $(this).css("display", "block");
                localStorage.setItem("Accountdisplay", "block");
            });

            $(".ResetPasswordMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");


                $(this).parent().addClass("active");
                localStorage.setItem("ResetPasswordactive", "active");
                $(this).css("display", "block");
                localStorage.setItem("ResetPassworddisplay", "block");
            });



            $(".ChangePasswordMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });


            $(".MonthlyCalenderMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });

            $(".ApplyLeaveMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });

            $(".BalanceLeaveMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });


            $(".AddBalanceLeaveMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });
            $(".ApproveRejectLeavesMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });
            $(".HRApproveRejectLeavesMainSideBar").click(function () {
                localStorage.removeItem("Dashboardactive");
                localStorage.removeItem("Dashboarddisplay");

                localStorage.removeItem("Employeesactive");
                localStorage.removeItem("Employeesdisplay");


                localStorage.removeItem("Accountactive");
                localStorage.removeItem("Accountdisplay");

                localStorage.removeItem("ResetPasswordactive");
                localStorage.removeItem("ResetPassworddisplay");
            });

            



            $(document).ready(function () {
                $(".DashboardMainSideBar").addClass(localStorage.getItem("Dashboardactive"));
                $(".DashboardSubSideBar").css("display", localStorage.getItem("Dashboarddisplay"));

                $(".EmployeesMainSideBar").addClass(localStorage.getItem("Employeesactive"));
                $(".EmployeesSubSideBar").css("display", localStorage.getItem("Employeesdisplay"));

                $(".AccountMainSideBar").addClass(localStorage.getItem("Accountactive"));
                $(".AccountSubSideBar").css("display", localStorage.getItem("Accountdisplay"));


                $(".ResetPasswordMainSideBar").addClass(localStorage.getItem("ResetPasswordactive"));
                $(".ResetPasswordSubSideBar").css("display", localStorage.getItem("ResetPassworddisplay"));


            });
            $("#btnLogout").click(function () {
                window.location.href = '/Login/Logout';
                return false;
            })
            $("#btnLogoutDown").click(function () {
                window.location.href = '/Login/Logout';
                return false;
            })
            $("#btnCalender").click(function () {
                window.location.href = '/MonthlyCalender/Index';
                return false;
            })

            ///////
        });

    </script>

</head>




<body>
    @*<table border="1" style="width:100%">
            <tr>
                <td colspan="2">
                    <h1>My Site Header</h1>
                </td>
            </tr>
            <tr>
                <td style="background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701688288.jpg); width: 20%;height:100%">
                    <h3>this is side bar</h3>

                </td>

                <td>
                    @RenderBody()
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>Site Footer - &copy; Employee Portal</p>
                </td>
            </tr>
        </table>*@

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>


        <nav style="margin: 1px 18px 1px 260px; " class="navbar navbar-expand-xl fixed-top navbar-light bg-white pmd-navbar pmd-z-depth-light-1">
            <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1300" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle"></a>

            <!-- Navbar Brand -->
            <div class="navbar-header">
                <a class="navbar-brand" href="dashboard.html">

                </a>

            </div>

            <!-- Search Form -->
            <form class="col-md-6 col-lg-4 d-none d-md-block ml-lg-5 ml-md-2">
                <div style="display:none;" class="input-group pmd-search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="material-icons md-dark pmd-icon-sm">search</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>

            <!-- Right Menu -->

            <div class="nav-item dropdown hide">
                <a href="#" data-toggle="dropdown" style="margin: 8px 14px 0px 864px; background-color: #3a3a3a; color: whitesmoke; font-weight: bold; " class="nav-link dropdown-toggle user-action" aria-expanded="true"> Action <b class="caret"></b></a>
                <div class="dropdown-menu hide" style="margin :8px  14px 0px 796px;">
                    <a href="/EmployeeDetail?EmployeePKID=@Session["EmployeePKID"]" class="dropdown-item"><i class="fa-solid fa-user"></i> Profile</a>
                    <a id="btnCalender" href="" class="dropdown-item"><i class="fa-solid fa-calendar-days"></i> Calendar</a>
                    @*<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>*@
                    <div class="dropdown-divider"></div>
                    <a href="" id="btnLogout" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    @*href="Home/CheckIn?EmployeePKID=@Session["EmployeePKID"]&CheckInOutStatus='CheckIn'"*@
                    <a href="" id="FunctionCheckInStatus" class="dropdown-item"><i style="color:green" class="fa-solid fa-right-to-bracket"></i> Check In</a>
                    <a href="" id="FunctionCheckOutStatus" class="dropdown-item"><i style="color:Red" class="fa-solid fa-right-to-bracket"></i> Check Out</a>
                </div>
            </div>
        </nav>

        @*-------------*@

        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    @*<a href="#">pro sidebar</a>
                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>*@
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        @*<img class="img-responsive img-rounded" src="~/UploadsImages/@Model.ProfilePictureName"
                            alt="User picture">*@
                        @*<img class="img-responsive id="img_ProfilePic" img-rounded"
                            alt="User picture">*@
                        <img style="display:block;" alt="EmployeeDocument-Pic" id="Img_EmployeePro" class="profile-pic rounded-square  pmd-z-depth-light-2-1 mr-md-4 mr-sm-0" height="400" width="400">
                    </div>
                    <div class="user-info">
                        <span class="user-name GeneralExtraColor">
                            <strong>
                                <span>@Session["EmployeeName"]</span>
                                @*Smith*@
                            </strong>
                        </span>
                        <span class=" GeneralExtraColor">@Session["Designation"]</span>  @*/user-role/*@
                        <span class="user-status GeneralExtraColor">

                            <span style="display: none;" class="GeneralExtraColor GreenOnline"> <i style='color: green;' class="fa fa-circle "></i>Online</span>

                            @*<i style='color: green;display:none;' class="fa fa-circle GreenOnline"></i>
                                <span style="display: none;" class="GeneralExtraColor GreenOnline">Online</span>*@
                            @*<i style='color: red ;display:none;' id="GreenOfflineCircle" class="fa fa-circle GreenOfflineCircle"></i>
                                <span style="display: none;" id="GreenOffline" class="GeneralExtraColor GreenOffline">Offline</span>*@

                            <span style="display: none;" id="GreenOffline" class="GeneralExtraColor GreenOffline">
                                <i style='color: red ;' class="fa fa-circle "></i>Offline
                            </span>


                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        @*<div class="input-group">
                                <input type="text" class="form-control search-menu" placeholder="Search..." style="margin: 0px -18px 0px 0px; /* padding: 11px; */ width: 181px;">
                                <div class="input-group-append">
                                    <span class="input-group-text" style="margin: 0px 5px 0px 18px; padding: 11px;" >
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>*@
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        @*<li class="sidebar-dropdown">
            <a href="#">
                <i class="fa fa-tachometer-alt GeneralExtraColor"></i>
                <span class="GeneralExtraColor">Dashboard</span>
                <span class="badge badge-pill badge-warning ">New</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">
                            Dashboard 1
                            <span class="badge badge-pill badge-success ">Pro</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Dashboard 2</a>
                    </li>
                    <li>
                        <a href="#">Dashboard 3</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-dropdown">
            <a href="#">
                <i class="fa fa-shopping-cart GeneralExtraColor"></i>
                <span class="GeneralExtraColor">E-commerce</span>
                <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">
                            Products

                        </a>
                    </li>
                    <li>
                        <a href="#">Orders</a>
                    </li>
                    <li>
                        <a href="#">Credit cart</a>
                    </li>
                </ul>
            </div>
        </li>*@
                        @if (HttpContext.Current.Session["Role"].ToString() == "1" || HttpContext.Current.Session["Role"].ToString() == "2" || HttpContext.Current.Session["Role"].ToString() == "3" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {

                            <li class="sidebar-dropdown DashboardMainSideBar">
                                <a href="#">
                                    <!--i class="far fa-gem GeneralExtraColor"></i-->
                                    <i class="fa-solid fa-gauge"></i>
                                    <span class="GeneralExtraColor">Dashboard</span>
                                </a>
                                <div class="sidebar-submenu DashboardSubSideBar">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "1" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown EmployeesMainSideBar">
                                <a href="#">
                                    <i class="fa-solid fa-person"></i>
                                    <span class="GeneralExtraColor">Employees</span>
                                </a>
                                <div class="sidebar-submenu EmployeesSubSideBar">
                                    <ul>
                                        <li>
                                            @*<a href="#">General</a>*@
                                            <a href="/CreateEmployee/Index"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">Create Employee</span></a>
                                        </li>
                                        <li>
                                            <a href="/CreateEmployee/ViewEmployee"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">View Employee List</span></a>
                                        </li>
                                        @*<li>
                            <a href="/CreateEmployee/ViewEmployee"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">Employee Detail</span></a>
                        </li>*@
                                        @*<li>
                            <a href="/PostNewVacancy/Index"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">Post New Vacancy</span></a>
                        </li>
                        <li>
                            <a href="/PostNewVacancy/ViewAppliedJob"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">View Applied Job</span></a>
                        </li>*@

                                        @*<li>
                            <a href="#">Forms</a>
                        </li>*@
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "1" || HttpContext.Current.Session["Role"].ToString() == "2" || HttpContext.Current.Session["Role"].ToString() == "3" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown AccountMainSideBar">
                                <a href="#">
                                    <i class="fa-solid fa-building-columns"></i>
                                    <span class="GeneralExtraColor">Account</span>
                                </a>
                                <div class="sidebar-submenu AccountSubSideBar">
                                    <ul>
                                        <li>
                                            <a href="/EmployeeDetail?EmployeePKID=@Session["EmployeePKID"]"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">View Profile</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "1" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown ResetPasswordMainSideBar">
                                <a href="#">
                                    <i class="fa-solid fa-key"></i>
                                    <span class="GeneralExtraColor">Reset Password</span>
                                </a>
                                <div class="sidebar-submenu ResetPasswordSubSideBar">
                                    <ul>
                                        <li>
                                            <a href="/Login/ResetPassword"><i aria-hidden="true"></i><span class="hidden-xs hidden-sm">Reset Password</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "1" || HttpContext.Current.Session["Role"].ToString() == "2" || HttpContext.Current.Session["Role"].ToString() == "3" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  ChangePasswordMainSideBar">
                                <a href="/ChangePassword/Index">
                                    <i class="fa fa-wrench"></i>
                                    <span class="GeneralExtraColor">Change Password</span>
                                </a>

                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "2" || HttpContext.Current.Session["Role"].ToString() == "3" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  MonthlyCalenderMainSideBar">
                                <a href="/MonthlyCalender/Index">
                                    <i class="fa fa-calendar"></i>
                                    <span class="GeneralExtraColor">Calender</span>
                                </a>

                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "2" || HttpContext.Current.Session["Role"].ToString() == "3" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  ApplyLeaveMainSideBar">
                                <a href="/Leave/Index">
                                    <i class="fa fa-plane"></i>
                                    <span class="GeneralExtraColor">Apply Leave</span>
                                </a>

                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "2" || HttpContext.Current.Session["Role"].ToString() == "3" || HttpContext.Current.Session["Role"].ToString() == "4")
                        {

                            <li class="sidebar-dropdown  BalanceLeaveMainSideBar">
                                <a href="/TotalBalanceLeaveEmployee/Index">
                                    <i class="fa fa-hourglass-half"></i>
                                    <span class="GeneralExtraColor">Balance Leave</span>
                                </a>

                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  AddBalanceLeaveMainSideBar">
                                <a href="/Leave/AddLeave">
                                    <i class="fa fa-shopping-basket"></i>
                                    <span class="GeneralExtraColor">Add Balance Leave</span>
                                </a>

                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "3")
                        {
                            <li class="sidebar-dropdown  ApproveRejectLeavesMainSideBar">
                                <a href="/ApproveRejectLeaves/Index">
                                    <i class="fa fa-envelope"></i>
                                    <span class="GeneralExtraColor">Approve/Reject Leaves</span>
                                </a>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  HRApproveRejectLeavesMainSideBar">
                                <a href="/HRApproveRejectLeaves/Index">
                                    <i class="fa fa-users"></i>
                                    <span class="GeneralExtraColor">Approve/Reject Leaves</span>
                                </a>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  HRPostNewVacancyMainSideBar">
                                <a href="/PostNewVacancy/Index">
                                    <i class="fa fa-american-sign-language-interpreting"></i>
                                    <span class="GeneralExtraColor">Post New Vacancy</span>
                                </a>
                            </li>
                        }
                        @if (HttpContext.Current.Session["Role"].ToString() == "4")
                        {
                            <li class="sidebar-dropdown  ViewAppliedJobMainSideBar">
                                <a href="/PostNewVacancy/ViewAppliedJob">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="GeneralExtraColor">View Applied Job</span>
                                </a>
                            </li>
                        }




                            @*<li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-chart-line GeneralExtraColor"></i>
                    <span class="GeneralExtraColor">Charts</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="#">Pie chart</a>
                        </li>
                        <li>
                            <a href="#">Line chart</a>
                        </li>
                        <li>
                            <a href="#">Bar chart</a>
                        </li>
                        <li>
                            <a href="#">Histogram</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-globe GeneralExtraColor"></i>
                    <span class="GeneralExtraColor">Maps</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="#">Google maps</a>
                        </li>
                        <li>
                            <a href="#">Open street map</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-menu">
                <span class="GeneralExtraColor">Extra</span>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book GeneralExtraColor"></i>
                    <span class="GeneralExtraColor">Documentation</span>
                    <span class="badge badge-pill badge-primary">Beta</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar GeneralExtraColor"></i>
                    <span class="GeneralExtraColor">Calendar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-folder GeneralExtraColor"></i>
                    <span class="GeneralExtraColor">Examples</span>
                </a>
            </li>*@
                        </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                @*<a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge-sonar"></span>
                    </a>*@
                <a id="btnLogoutDown" href="">
                    <i class="fa fa-power-off">
                    </i>
                    @*<a href="" id="btnLogout" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>*@
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div style=" margin: 13px 0px 0px 48px;" class="container-fluid">
                @*<h2>Pro Sidebar</h2>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
                            <p>
                                You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
                                    Github
                                </a>, it contains more themes and background image option
                            </p>
                        </div>
                        <div class="form-group col-md-12">
                            <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=star&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">New !</h4>
                                <p>
                                    New react pro sidebar library is now available on <a href="https://www.npmjs.com/package/react-pro-sidebar" target="_blank">npm</a> <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                                        <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social" />
                                    </a>
                                </p>
                                <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank" class="btn btn-sm btn-primary mr-2">
                                    Github
                                </a>
                                <a href="https://azouaoui-med.github.io/react-pro-sidebar" target="_blank" class="btn btn-sm btn-success">
                                    Demo
                                </a>

                            </div>

                        </div>
                    </div>
                    <h5>More templates</h5>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="card rounded-0 p-0 shadow-sm">
                                <img src="https://user-images.githubusercontent.com/25878302/58369568-a49b2480-7efc-11e9-9ca9-2be44afacda1.png" class="card-img-top rounded-0" alt="Angular pro sidebar">
                                <div class="card-body text-center">
                                    <h6 class="card-title">Angular Pro Sidebar</h6>
                                    <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="btn btn-primary btn-sm">Github</a>
                                    <a href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/" target="_blank" class="btn btn-success btn-sm">Preview</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="card rounded-0 p-0 shadow-sm">
                                <img src="https://user-images.githubusercontent.com/25878302/58369258-33f20900-7ef8-11e9-8ff3-b277cb7ed7b4.PNG" class="card-img-top rounded-0" alt="Angular pro sidebar">
                                <div class="card-body text-center">
                                    <h6 class="card-title">Angular Dashboard</h6>
                                    <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-primary btn-sm">Github</a>
                                    <a href="https://azouaoui-med.github.io/lightning-admin-angular/demo/" target="_blank" class="btn btn-success btn-sm">Preview</a>
                                </div>
                            </div>
                        </div>
                    </div>*@

                @RenderBody()
                <footer class="text-center">
                    <div class="mb-2">
                        <small>
                            © 2022 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="https://azouaoui.netlify.com">
                                Gajanan G. Kadam  , Juhi Singh , Prerana Kulkarni
                            </a>
                        </small>
                    </div>
                    @*<div>
                            <a href="https://github.com/azouaoui-med" target="_blank">
                                <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
                            </a>
                            <a href="https://twitter.com/azouaoui_med" target="_blank">
                                <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
                            </a>
                        </div>*@
                </footer>
            </div>
        </main>
        <!-- page-content" -->
    </div>



    @*-------Delete messge confirm model-----------------*@
    <div id="CommanMessageModel" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button id="btnNo" value="No" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button id="btnYes" value="Yes" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    @*------------------------*@


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Job Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Department Name : <span id="DepartmentName"></span></h6> <br />
                    <h6>Designation	: <span id="Designation"></span></h6><br />
                    <h6>Experience : <span id="Experience"></span></h6><br />
                    <h6>Note : <span id="Note"></span></h6><br />
                    <h6>Description : <span id="Description"></span></h6><br />
                    <h6>CreatedOn : <span id="CreatedOn"></span></h6><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ApplyLeaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 430px; width: 700px; margin: 10px 10px 10px -205px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Applied Leave Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Leave type : <span id="LeaveType"></span> &nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp; From Date : <span class="FromDate" id="FromDate"></span> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; To Date : <span class="ToDate" id="ToDate"></span> &nbsp;&nbsp;&nbsp; </h6><br />

                    <h6>Contact Details : <span class="ContactDetails" id="ContactDetails"></span> &nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp; Applied On : <span class="CreatedOn" id="CreatedOn"></span> </h6>  <br />

                    <h6>Reason : <span class="Reason" id="Reason"></span></h6><br />

                    <h6>Manager Status : <span id="ManagerStatus"></span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Manager Comment : <span id="ManagerComment"></span></h6><br />

                    <h6>HR Status : <span id="HRStatus"></span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; HR Comment : <span id="HRComment"></span></h6><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ApproveRejectLeavesModal" tabindex="-1" role="dialog" aria-labelledby="ApproveRejectLeavesModal1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style=" width: 700px; margin: 10px 10px 10px -205px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Model Name</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modelWindowResume" role="dialog">
        <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content" style="width:400px">
                <div class="modal-header">
                    <h4 class="modal-title">Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    Body text here

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@*<link href="~/CSS/Home.css" rel="stylesheet" />*@
