@model EmployeePortal.Models.CT_EmployeeEducation

@{
    ViewBag.Title = "AddEmployeeEducation";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Add Employee Education</h2>
<nav aria-label="breadcrumb" style="margin: -17px -1px -1px  -38px;">
    <ol class="breadcrumb pmd-breadcrumb" style="background-color: white;">
        <li class="breadcrumb-item">
            <a href="dashboard.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item">Employees</li>
        <li class="breadcrumb-item active" aria-current="page">Add Employee</li>
    </ol>
</nav>
<script>


    $(document).ready(function () {

        $("#About").click(function () {
            debugger
            window.location.href = '/CreateEmployee/Index';
        });
        $("#Education").click(function () {

            window.location.href = '/CreateEmployee/AddEmployeeEducation';
        });
        $("#Experience").click(function () {

            window.location.href = '/CreateEmployee/AddEmployeeExperience';
        });
        $("#Education").addClass("active show");
        $("#About").removeClass("active hide");
        $("#Experience").removeClass("active hide");


        $("#Institute").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if ((charCode <= 93 && charCode >= 65) || (charCode <= 122 && charCode >= 97) || charCode == 8) {

                return true;
            }
            return false;
        });

    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="">
        <div class="col-md-8" style="margin: 0px 6px 15px -36px; background-color: #31353D ">
            <div class="pmd-tab-active-bar" style="width: 93.125px; left: 0px;"></div><ul class="nav nav-tabs" role="tablist" style="width: 325.578px;">
                <li class="nav-item"><a id="About" style="margin: 0px 0px 0px -17px" class="nav-link active show" href="#about" aria-controls="about" role="tab" data-toggle="tab" aria-selected="true">About Employee</a></li>
                <li class="nav-item"><a id="Education" class="nav-link" href="/CreateEmployee/AddEmployeeEducation" role="tab" data-toggle="tab" aria-selected="false">Education</a></li>
                <li class="nav-item"><a id="Experience" style="margin: -41px 19px -64px 236px;" class="nav-link" href="/CreateEmployee/AddEmployeeExperience" aria-controls="Experience" role="tab" data-toggle="tab" aria-selected="false">Experience</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1" style=" margin: 7px -10px -3px -30px;">
                <form class="form-horizontal" role="form">
                    <h5 class="card-title mb-3">Education</h5>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="col-form-label control-label">Degreee</label>
                                <div class="">

                                    <select id="ddlDegreee" name="ddlDegreee" class="form-control">
                                        <option value="" selected>Choose ...</option>
                                        <option value="1"> Bachelor of Engineering</option>
                                        <option value="2"> Masters of Engineering</option>
                                        <option value="3"> Master of Computer Applications</option>
                                        <option value="4"> Bachelors of Business Administration</option>
                                        <option value="5"> Masters of Business Administration</option>
                                        <option value="6"> Bachelor of Arts</option>
                                        <option value="7"> Bachelor of Commerce</option>
                                        <option value="8"> Masters of Commerce</option>
                                    </select>
                                </div>
                                @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="col-form-label control-label">Specialization</label>
                                <div class="">

                                    <select id="ddlSpecialization" name="ddlSpecialization" class="form-control">
                                        <option value="" selected>Choose ...</option>
                                        <option value="1"> Bachelor of Engineering</option>
                                        <option value="2"> Masters of Engineering</option>
                                        <option value="3"> Master of Computer Applications</option>
                                        <option value="4"> Bachelors of Business Administration</option>
                                        <option value="5"> Masters of Business Administration</option>
                                        <option value="6"> Bachelor of Arts</option>
                                        <option value="7"> Bachelor of Commerce</option>
                                        <option value="8"> Masters of Commerce</option>
                                    </select>
                                </div>
                                @Html.ValidationMessageFor(model => model.Specialization, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="col-form-label control-label">PassingYear*</label>
                                <input type="date" id="PassingYear" name="PassingYear" class="form-control">
                                @Html.ValidationMessageFor(model => model.PassingYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label for="fn" class="col-form-label control-label">Institute</label>
                                @Html.EditorFor(model => model.Institute, new { htmlAttributes = new { @class = "form-control", @id = "Institute", @placeholder = "Institute", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="col-form-label control-label">Start Date*</label>
                                <input type="date" id="StartDate" name="StartDate" class="form-control">
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="col-form-label control-label">End Date*</label>
                                <input type="date" id="EndDate" name="EndDate" class="form-control">
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="col-form-label control-label">Percentage</label>
                                @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control", @id = "Percentage", @placeholder = "Percentage", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                </form>
            </div>
        </div>


    </div>





}

