@*@model EmployeePortal.Models.CT_CreateEmployee*@
@using PagedList.Mvc
@model  PagedList.IPagedList<EmployeePortal.Models.CT_CreateEmployee>

@{
    ViewBag.Title = "ViewEmployee";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>View Employee</h2>
<style>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        if ($("#hdn_txt_Search").val() != "") {
            
            $("#txt_Search").val($("#hdn_txt_Search").val());
            document.getElementById("txt_Search").focus();
        }
        if (localStorage.getItem('searchEmployeeKey') != "") {
            
            $("#txt_Search").val(localStorage.getItem('searchEmployeeKey'));
            $("#hdn_txt_Search").val(localStorage.getItem('searchEmployeeKey'));
            document.getElementById("txt_Search").focus();
        }
        //$("#btnSearch").onclick(function () {
        ////function Search() {
        //    
        //    var searchEmployee = this.value;

        //    $("#tbl_ViewEmployee tbody").remove();

        //    
        //    //document.location.reload();

        //    $("#hdn_txt_Search").val(searchEmployee);

        //    $.ajax(
        //        {
        //            type: 'POST',
        //            dataType: "html",
        //            data: { searchEmployee: searchEmployee },
        //            url: '/CreateEmployee/SearchEmployee',
        //            success: function (data) {

        //            },
        //        });

        //   // }
        //});
    });
    function Search() {
        
        var searchEmployee = $("#txt_Search").val();
        $("#tbl_ViewEmployee tbody").remove();
        $("#hdn_txt_Search").val(searchEmployee);

        localStorage.setItem("searchEmployeeKey", searchEmployee);
        
        //document.location.reload();
        window.location.href = '/CreateEmployee/ViewEmployee',

            $.ajax(
                {
                    type: 'POST',
                    dataType: "html",
                    data: { searchEmployee: searchEmployee },
                    url: '/CreateEmployee/SearchEmployee',
                    success: function (data) {

                    },
                });

    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hdn_txt_Search" value="@ViewBag.searchEmployee" name="hdn_txt_Search" />
    <input type="button" id="btnSearch" value="Search" style="margin:10px 7px -47px 368px;" onclick="Search()" class="btn btn-primary" />
    <input type="hidden" id="hdn_Message" value="@ViewBag.Message" name="hdn_Message" />
    <input type="hidden" id="hdn_Submit" value="@ViewBag.Submit" name="hdn_Submit" />

    <div class="form-horizontal">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <input autocomplete="off" class="form-control text-box single-line" data-val="true" id="txt_Search" name="txt_Search" placeholder="Search by EmailId" type="text" value="">

            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div>
                <table class="table table-striped" style=" margin: 4px 5px -1px -92px;" id="tbl_ViewEmployee">
                    <thead>
                    <th scope="col">First Name</th>

                    <th scope="col">Last Name</th>
                    <th scope="col">EmailId</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Gender</th>

                    <th data-toggle="tooltip"  title="Education Status!" scope="col">EDU Status </th>
                    <th data-toggle="tooltip"  title="Experience Status!"  scope="col">EXP Status</th>
                    <th  data-toggle="tooltip"  title="Documents Status!" scope="col">DOC Status</th>
                    <th data-toggle="tooltip"  title="Salary Status!"  scope="col">SAL Status</th>


                    @*<th scope="col">Status</th>*@
                    <th scope="col">Action</th>
                    </thead>
                    @*@foreach (var item in ViewBag.userdetails)*@
                    @*@foreach (var item in Model.CT_CreateEmployeelist)*@
                    @for (int i = 0; i < Model.Count; i++)
                    {

                <tr>
                    @*<td>
            @item.FirstName
        </td>
        <td>
            @item.MiddleName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.CompanyEmail
        </td>
        <td>
            @item.DateOfBirth
        </td>
        <td>
            @item.Gender
        </td>
        <td>
            @item.Status
        </td>*@
                    <td>
                        @Model[i].FirstName
                    </td>

                    <td>
                        @Model[i].LastName
                    </td>
                    <td>
                        @Model[i].CompanyEmail
                    </td>
                    <td>
                        @Model[i].DateOfBirthFormat
                    </td>
                    <td>
                        @Model[i].Gender
                    </td>
                    <td>
                        @Model[i].EducationStatus
                    </td>
                    <td>
                        @Model[i].ExperienceStatus
                    </td>
                    <td>
                        @Model[i].DocumentsStatus
                    </td>
                    <td>
                        @Model[i].SalaryStatus
                    </td>
                    @*<td>
                        @Model[i].Status
                    </td>*@
                    <td>
                        @Html.ActionLink("View", "Index", "EmployeeDetail", new { EmployeePKID = Model[i].EmployeePKID }, null) |
                        @Html.ActionLink("Edit", "EditEmployeeByIdForEdit", new { EmployeePKID = Model[i].EmployeePKID }) |
                        <input type="button" id="btnDelete" value="Delete" onclick="someFunction(@Model[i].EmployeePKID)" /> |
                    </td>
                </tr>
                    }

                </table>

            </div>
            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>

                <div class="pagination" style="margin-left: 400px; ">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount  &nbsp; &nbsp; &nbsp; &nbsp;
                    <p> @Html.PagedListPager(Model, page => Url.Action("ViewEmployee", new { page }))</p>
                </div>
                <div>

                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {


    });

    function someFunction(EmployeePKID) {
        // $("#CommanMessageModel").show();
        //
        //$.ajax({
        //    url: "/CreateEmployee/CallCommanMessageModel",
        //    success: function (result) {

        //    }
        //});



        $.ajax(
            {
                type: 'POST',
                dataType: "html",
                url: '/CreateEmployee/CallCommanMessageModel',
                //data: { jsonInput: JSON.stringify(jsonInput) },
                ///data: {,

                //data: { id: '' },
                success: function (data) {
                    
                    //alert(data);
                    // $('#CommanMessageModel').html(data);
                    $("#CommanMessageModel").show();
                    $("#CommanMessageModel").find('.modal-title').text("Alert")
                    $("#CommanMessageModel").find('.modal-body').text("Are you sure, do you want to delete this record?");


                    $('#btnNo').click(function (e) {
                        $("#CommanMessageModel").hide();
                    });
                    $('#btnYes').click(function (e) {
                        $("#CommanMessageModel").hide();
                        
                        $.ajax(
                            {
                                type: 'POST',
                                dataType: "html",
                                url: '/CreateEmployee/DeleteEmployeeById',
                                data: { EmployeePKID: EmployeePKID },
                                success: function (data) {
                                    

                                },
                            });


                    });

                },
            });
    }

</script>
<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
