@using PagedList.Mvc
@model  PagedList.IPagedList<EmployeePortal.Models.CT_ResetPassword>
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hdn_txt_Search" value="@ViewBag.searchEmployee" name="hdn_txt_Search" />
    <input type="button" id="btnSearch" value="Search" style="margin:10px 7px -47px 368px;" onclick="Search()" class="btn btn-primary" />


    <div class="form-horizontal">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <input autocomplete="off" class="form-control text-box single-line" data-val="true" id="txt_Search" name="txt_Search" placeholder="Search by EmailId" type="text" value="">

            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div>
                <table class="table table-striped" style=" margin: 4px 5px -1px -92px;" id="tbl_ViewEmployee">
                    <thead>
                    <th style="display:none;" scope="col">Employee PKID</th>
                    <th scope="col">First Name</th>

                    <th scope="col">Last Name</th>
                    <th scope="col">EmailId</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Gender</th>

                    <th scope="col">Action</th>
                    </thead>

                    @if (Model != null)
                    {


                        for (int i = 0; i < Model.Count; i++)
                        {

                            <tr>
                                <td style="display:none;">
                                    @Model[i].EmployeePKID
                                </td>

                                <td>
                                    @Model[i].FirstName
                                </td>

                                <td>
                                    @Model[i].LastName
                                </td>
                                <td>
                                    @Model[i].CompanyEmail
                                </td>
                                <td>
                                    @Model[i].DateOfBirthFormat
                                </td>
                                <td>
                                    @Model[i].Gender
                                </td>


                                <td>
                                    <input type="button" id="btnResetPassword" value="Reset Password" onclick="FnResetPassword(@Model[i].EmployeePKID)" />
                                </td>
                            </tr>
                        }
                    }

                </table>

            </div>
            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                @if (Model != null)
                {


                    <div class="pagination" style="margin-left: 400px; ">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount  &nbsp; &nbsp; &nbsp; &nbsp;
                        <p> @Html.PagedListPager(Model, page => Url.Action("ViewEmployee", new { page }))</p>
                    </div>
                }
                <div>

                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function Search() {

        var searchEmployee = $("#txt_Search").val();
        $("#tbl_ViewEmployee tbody").remove();
        $("#hdn_txt_Search").val(searchEmployee);

        localStorage.setItem("searchEmployeeKey", searchEmployee);

        //document.location.reload();
        window.location.href = '/Login/ResetPassword',

            $.ajax(
                {
                    type: 'POST',
                    dataType: "html",
                    data: { searchEmployee: searchEmployee },
                    url: '/Login/SearchEmployee',
                    success: function (data) {

                    },
                });

    }
    $(document).ready(function () {


    });
    function FnResetPassword(EmployeePKID) {

        $.ajax(
            {
                type: 'POST',
                dataType: "html",
                url: '/CreateEmployee/CallCommanMessageModel',
                success: function (data) {

                    $("#CommanMessageModel").show();
                    $("#CommanMessageModel").find('.modal-title').text("Alert")
                    $("#CommanMessageModel").find('.modal-body').text("Are you sure do you want to Reset Passord?");


                    $('#btnNo').click(function (e) {
                        $("#CommanMessageModel").hide();
                    });
                    $('#btnYes').click(function (e) {
                        $("#CommanMessageModel").hide();
                        //window.location.href = '/Login/YesResetPassword';
                        debugger;
                        $.ajax(
                            {
                                type: 'POST',
                                dataType: "json",
                                data: { EmployeePKID: EmployeePKID},
                                url: '/Login/YesResetPassword',
                                success: function (data) {
                                   
                                    $("#CommanMessageModel").show();
                                    $("#CommanMessageModel").find('.modal-title').text("Alert")
                                    $("#CommanMessageModel").find('.modal-body').text("Passord has been reset successfully");

                                    $('#btnNo').text("Ok");
                                    $('#btnNo').click(function (e) {
                                        $("#CommanMessageModel").hide();
                                        window.location.href = '/Login/ResetPassword';
                                    });
                                    $('#btnYes').hide();

                                },
                            });
                    });

                },
            });
    }
</script>
